<!DOCTYPE html>
<html>
  <head>
    <title>Transporty</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'transportation-footprint-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
